<header
  #navigation
>
  <div class="logo">
   <a href="/home">
    <img
    class="light"
    aria-hidden="true"
    src="/assets/images/logo-MT.png"
    decoding="async"
    alt="logo"
    width="154"
    height="126"
  />
   </a>
  </div>
  <div class="navigation">
    <ul class="navList" *ngIf="!phoneView">
      <li>
        <span
          ><a href="/events"
            >EVENTS</a
          ></span
        >
      </li>
      <li>
        <span
          ><a href="/rankings"
            >RANKINGS</a
          ></span
        >
      </li>
      <li>
        <span
          ><a href="/news"
            >NEWS</a
          ></span
        >
      </li>
      <li>
        <span
          ><a href="/record-lookup"
            >RECORDS</a
          ></span
        >
      </li>
      <li>
        <span
          ><a href="/contact"
            >CONTACT</a
          ></span
        >
      </li>
    </ul>
    <!--Mobile Nav toggle-->
    <button
      class="hamburger-menu"
      (click)="dropDownMenu(ham)"
      #ham
      *ngIf="phoneView"
    >
      <span aria-hidden="true"></span>
    </button>
  </div>
</header>
<div class="navListMenu" *ngIf="showDropDown">
  <ul class="navListPhone">
    <li><a href="/events">Events</a></li>
    <li><a href="/news">News</a></li>
    <li><a href="/rankings">Rankings</a></li>
    <li><a href="/recordss">Records</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</div>