<section class="footer">
    <div class="container">
      <div class="left-section">
        <a class="logo" href="/index.html"
          ><img
            loading="lazy"
            decoding="async"
            src="/assets/images/logo-MT.png"
            alt="logo"
            width="308"
            height="251"
        /></a>
      </div>
      <div class="right-section">
        <div class="lists">
          <ul>
            <li><h2>Information</h2></li>
            <li><a href="/home">Home</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/rankings">Rankings</a></li>
            <li><a href="/Records">Records</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
          <ul>
            <li><h2>Contact</h2></li>
            <li>
              <a href="/contact.html">First Address Line<br />Ireland , Cork</a>
            </li>
            <li><a href="tel:1234567">T: (083) 1234567</a></li>
            <li><a href="mailto:email@email.com">Click to Email</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="credit">
      <span>Designed and Hand Coded by</span>
      <a href="https://irelandwebdesigns.ie/" target="_blank" rel="noopener" style="color: skyblue">IrelandWebDesigns</a>
      <span class="copyright"> Copyright 2021 - Present</span>
    </div>
  </section>