<section id="hero">
  <div class="hero-content">
    <div class="heroText">
      <h1 id="home-h" class="home-h">
        5 REASONS TO WATCH SHOW-NAME: CHAMPION VS. CHALLENGER
      </h1>
      <p>
        The card is topped by two Title fights, but there are other reasons to
        catch the spectacle on Friday.
      </p>
      <a class="button-6" href="/contact.html" target="_blank" rel="noopener">
        READ
      </a>
    </div>
  </div>
  <picture>
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/landingImage.webp"
    />
    <source
      media="(min-width: 601px)"
      srcset="/assets/images/landingImage.webp"
    />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/landingImage.webp"
      alt="new home"
    />
  </picture>
</section>
<app-services></app-services>
<app-latest-news></app-latest-news>
