<section id="side-bar" class="container">
  <div>
    <div class="recent-posts">
      <p class="popular">Latest News</p>
      <div class="recent-posts__item">
        <img aria-hidden="true" src="/assets/images/fightCard.jpg" alt="" />
        <div class="recent-posts__item__content">
          <h2>
            <a href=""
              >FIGHTER A Vs. FIGHTER B Added To SHOW-NAME; Lineup Updated</a
            >
          </h2>
          <p>Donal O'Connell</p>
          <p>March 7, 2021</p>
        </div>
      </div>
      <div class="recent-posts__item">
        <img aria-hidden="true" src="/assets/images/fightCard.jpg" alt="" />
        <div class="recent-posts__item__content">
          <h2>
            <a href=""
              >FIGHTER A Aims To Finish FIGHTER B In Clash Of ‘Aggressive
              Strikers’</a
            >
          </h2>
          <p>Donal O'Connell</p>
          <p>December 15, 2020</p>
        </div>
      </div>
      <div class="recent-posts__item">
        <img aria-hidden="true" src="/assets/images/fightCard.jpg" alt="" />
        <div class="recent-posts__item__content">
          <h2>
            <a href=""
              >5 Big Questions Ahead Of SHOW-NAME: CHAMPION vs. CHALLENGER</a
            >
          </h2>
          <p>Donal O'Connell</p>
          <p>April 10, 2021</p>
        </div>
      </div>
    </div>
  </div>
</section>
