
<section id="side-bar" class="container">
    <div><div class="recent-posts">
    <p class="popular">Latest News</p>
    <div class="recent-posts__item">
        <img aria-hidden="true" src="/assets/images/fightCard.jpg" alt="">
        <div class="recent-posts__item__content">
            <h2><a href="articles/2022/wordpress-is-bad-for-SEO-and-customer-experience">Nattawut Vs. Yusupov Added To ONE 159; Lineup Updated</a></h2>
            <p>Donal O'Connell</p>
            <p>March 7, 2021</p>
        </div>
    </div>
    <div class="recent-posts__item">
        <img aria-hidden="true" src="/assets/images/fightCard.jpg" alt="">
        <div class="recent-posts__item__content">
            <h2><a href="articles/2022/the-ultimate-guide-to-using-a-website-to-boost-your-sales">Marat Gafurov Aims To Finish Ariel Sexton In Clash Of ‘Aggressive Grapplers’</a></h2>
            <p>Donal O'Connell</p>
            <p>December 15, 2020</p>
        </div>
    </div>
    <div class="recent-posts__item">
        <img aria-hidden="true" src="/assets/images/fightCard.jpg" alt="">
        <div class="recent-posts__item__content">
            <h2><a href="articles/2022/the-importance-of-seo-for-your-business">5 Big Questions Ahead Of ONE 159: De Ridder vs. Bigdash</a></h2>
            <p>Donal O'Connell</p>
            <p>April 10, 2021</p>
        </div>
    </div>

    </div></div>
</section>