<section id="int-hero">
    <h1 id="home-h">Articles</h1>
    <picture>
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/code.png"
        />
        <source media="(min-width: 601px)" srcset="/assets/images/code.png" />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/code.png"
          alt="cabinets"
          width="400"
          height="662"
        />
      </picture>
  </section>
  <main>

<section id="blog">

    <!-- ============================================ -->
    <!--                 BLOG CONTENT                 -->
    <!-- ============================================ -->
    
    <article class="blog">
        <div class="blog__post container">
            <div class="blog__post--header">
                <img aria-label="picture of a bare brick wall" src = "/assets/images/fightCard.jpg" class="main-image">
                <h1>Nattawut Vs. Yusupov Added To ONE 159; Lineup Updated</h1>
                <div class="blog__post--info">
                    <img aria-hidden="true" src="/assets/images/profo.png" alt="Donal O'Connell">
                    <div class="blog__post--profile">
                        <h3>Donal O'Connell</h3>
                        <a href="#">September 18, 2021</a><br>
                    </div>
                </div>
            </div>
            <div aria-hidden="true" class="line"></div>
            <p>
                It’s officially event week, and the stars are flying into Singapore to compete at ONE 159: De Ridder vs. Bigdash on Friday, July 22.
            </p>
            <button class="button-6" onclick="location.href='articles/2022/the-importance-of-seo-for-your-business'" type="button">
                Read More
            </button>
        </div>
    </article>

    <!-- ============================================ -->
    <!--                 BLOG CONTENT                 -->
    <!-- ============================================ -->
    
    <article class="blog">
        <div class="blog__post container">
            <div class="blog__post--header">
                <img aria-label="picture of a bare brick wall" src = "/assets/images/fightCard.jpg" class="main-image">
                <h1>Marat Gafurov Aims To Finish Ariel Sexton In Clash Of ‘Aggressive Grapplers’</h1>
                <div class="blog__post--info">
                    <img aria-hidden="true" src="/assets/images/profo.png" alt="Donal O'Connell">
                    <div class="blog__post--profile">
                        <h3>Donal O'Connell</h3>
                        <a href="#">April 19, 2021</a><br>
                    </div>
                </div>
            </div>
            <div aria-hidden="true" class="line"></div>
            <p>Former ONE Featherweight World Champion Marat “Cobra” Gafurov is excited for his return to the Circle this Friday, July 22.
            </p>
            <button class="button-6" onclick="location.href='articles/2022/wordpress-is-bad-for-SEO-and-customer-experience'" type="button">
                Read More
            </button>
        </div>
    </article>

    <!-- ============================================ -->
    <!--                 BLOG CONTENT                 -->
    <!-- ============================================ -->
    
    <article class="blog">
        <div class="blog__post container">
            <div class="blog__post--header">
                <img aria-label="picture of a bare brick wall" src = "/assets/images/fightCard.jpg" class="main-image">
                <h1>5 Big Questions Ahead Of ONE 159: De Ridder vs. Bigdash</h1>
                <div class="blog__post--info">
                    <img aria-hidden="true" src="/assets/images/profo.png" alt="Donal O'Connell">
                    <div class="blog__post--profile">
                        <h3>Donal O'Connell</h3>
                        <a href="#">April 10, 2021</a><br>
                    </div>
                </div>
            </div>
            <div aria-hidden="true" class="line"></div>
            <p>It’ll be hard to blink without missing the action at ONE 159: De Ridder vs. Bigdash because the card is filled with knockout artists and submission specialists who are guaranteed to deliver fireworks.
            </p>
            <button class="button-6" onclick="location.href='articles/2022/the-ultimate-guide-to-using-a-website-to-boost-your-sales'" type="button">
                Read More
            </button>
        </div>
    </article>

</section>

<!-- ============================================ -->
<!--                   SIDE BAR                   -->
<!-- ============================================ -->
<app-sidebar></app-sidebar>