<section class="services">
    <picture>
      <source media="(max-width: 600px)" srcset="/assets/images/landingImage.webp" />
      <source media="(min-width: 601px)" srcset="/assets/images/landingImage.webp" />
      <img
        aria-hidden="true"
        decoding="async"
        src="/assets/images/landingImage.webp"
        alt="new home"
        height="250px"
      />
    </picture>
  <div class="info">
    <div class="up-next">
        <span class="up-next-text">UP NEXT</span>
    </div>
      <div class="details">
        <h3 class="title text-lines-clamp two-lines">
          <a href="https://www.onefc.com/events/one159/">ONE 159: DE RIDDER VS. BIGDASH</a>
        </h3>
        <div class="time">
          22 Jul (Fri) 6:30PM <span class="timezone" title="+00:00 UTC Ireland">
          IST </span>
        </div>
        <div class="venue"></div>
      </div>
      <div class="actions">
        <a class="button-6" href="https://www.onefc.com/events/one159/">More Info</a>
      </div>
  </div>
</section>
